body h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    color: black;

}

h2{
    white-space: pre-line;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    color: #FFFFFF;
}

.container{
    
    width: 75%;
    height: auto;
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    border: 5px,5px,5px,5px, black;
    text-align: center;
    background-color: #C8102E;
    
}

#box{
    border-top: 5px solid ;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

h3 {
    font-family: 'Crimson Text', serif;
}

.quiz label{
    float: left;
}

