body h1{
    text-align: center;
    font-weight: bold;

}

h2{
    white-space: pre-line;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    
}

.container{
    
    width: 75%;
    height: auto;
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    border: 5px,5px,5px,5px, black;
    text-align: center;
    
}

.quiz p{
    text-align: left;


}

